<!doctype html>
<html lang="zh">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>酒店注册</title>
	<link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/hotellogin.css" rel="stylesheet">
</head>
<body>
    <div class="container">
      <form class="form-signin">
        <h2 class="form-signin-heading">请填写注册信息</h2>
        <label class="sr-only">酒店名称</label>
        <input type="text" id="inputName" class="form-control" placeholder="酒店名称" required autofocus>
        <label class="sr-only">登录名</label>
        <input type="text" id="inputLoginName" class="form-control" placeholder="登录名" required>
        <label class="sr-only">联系电话</label>
        <input type="text" id="inputPhone" class="form-control" placeholder="联系电话" required>
        <label class="sr-only">密码</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="密码" required>
        <button class="btn btn-lg btn-primary btn-block" type="button" id="btnReg">注册</button>
	<a href="/tor/hotel/login">酒店登陆</a>
      </form>
    </div>
<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script src="/static/js/hotelreg.js"></script>
</body>
</html>
